.about-container {
    font-family: 'Arial', sans-serif;
    background-color: #0e1112; 
    color: #ddd; 
    padding: 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #ff4200; 
}

.people-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    background-color: #1a1d1f; 
}

.person {
    border: 1px solid #ccc;
    padding: 100px;
    margin: 100px;
    width: 2000px;
    text-align: center;
    border-radius: 15 px;
    transition: transform 0.5s ease;

}
.person:hover {
    transform: scale(1.05); 
}
.person h3 {
    margin-top: 0;
}

.person img.person-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.person p {
    margin: 5px 0;
}

.contacts {
    background-color: #1a1d1f;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-top: 3px solid #ff4200; 
}

.contacts h3, .person h3 {
    color: #ff4200; 
}