/* News.css */
.news-container {
    width: 100%;
    margin: auto;
    background-color: #121212; /* Темный фон для контейнера */
    color: #e0e0e0; /* Светлый текст для контраста */
    font-family: 'Arial', sans-serif;
}

.news-image img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 4px solid #b71c1c; /* Красная линия под изображением в стиле Dota 2 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Создаем сетку 2 на 2 */
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #1a1a1a; /* Черный цвет для элементов сетки */
    border: 2px solid #b71c1c; /* Красная граница в стиле Dota 2 */
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Плавное увеличение при наведении */
}

.grid-item:hover {
    transform: scale(1.05); /* Увеличение элемента при наведении */
}

.grid-item img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.grid-item h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #ffffff; /* Белый цвет текста */
    text-shadow: 1px 1px 2px #000; /* Тень для текста, чтобы улучшить читаемость */
}

.grid-item p {
    font-size: 14px;
    color: #ccc; /* Серый цвет текста */
}
